@model List<MvcClient.AuthService.Ad>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p class="alert-danger">@ViewBag.ErrorMessage</p>
        <h2>Local Ads</h2>
        <br />
        <p>
            Our service provides you with the ability to view local ads. Sign in to find out more!
        </p>
        <br />
        @foreach (var ad in Model)
        {
            <h6>@ad.DatePosted</h6>
            <h6>@ad.Author.Name</h6>
            <h2>@ad.Title</h2>
            <p class="modal-body">
                @ad.Content
            </p>
        }
</div>