@using MvcClient.AuthService
@model Ad

<div class="panel panel-default">
    <div class="panel-body">
        <h2>@Html.ActionLink(Model.Title,"Display","Post", new { id = Model.Id }, null)</h2>
        <hr />
    </div>
    <div>
        <p>By @Model.Author.Name</p>
        <p class="text-muted">
            Posted on @Model.DatePosted.ToShortDateString()
            at @Model.DatePosted.ToShortTimeString()
            in @Model.Location.Name
        </p>
    </div>
    <div>
        @Model.Content
    </div>
    <hr />
    <div>
        @if (TempData["comments"] == null)
        {
            <div class="alert-warning">
                This ad has no comments yet.
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">Comments</div>
                <div class="panel-body">
                    @{
                        Comment[] comments = TempData["comments"] as Comment[];
                        foreach (var c in comments)
                        {
                            <h4>@c.Author.Name</h4>
                            <div>
                                On @c.DatePosted.ToShortDateString() at
                                @c.DatePosted.ToShortTimeString()
                            </div>
                            <div>
                                @c.Content
                            </div>
                            <hr />
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>