@using MvcClient.AuthService;
@using MvcClient.Models;
@using MvcClient.Helpers;
@model AdWithCommentsViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <h2>@Html.ActionLink(Model.Ad.Title,"Display","Post", new { id = Model.Ad.Id }, null)</h2>
        <hr />

        <p>
            '@Html.DisplayFor(model => model.Ad.Type)' ad
            by @Model.Ad.Author.Name
        </p>

        <p class="text-muted">
            Posted on @Model.Ad.DatePosted.ToShortDateString()
            at @Model.Ad.DatePosted.ToShortTimeString()
            in @Model.Ad.Location.Name
        </p>

        @if (Model.Ad.DatePosted != Model.Ad.LastEdited)
        {
            <p class="text-muted">
                Last edited on @Model.Ad.DatePosted.ToShortDateString()
                at @Model.Ad.DatePosted.ToShortTimeString()
            </p>
        }

        <p>@Model.Ad.Content</p>

        @if(Model.Ad.ReservedBy != null)
        {
            <p class="alert-warning">
                This ad has been reserved by @Model.Ad.ReservedBy.Name
            </p>
        }
        else if (Model.Ad.Author.Email != AuthHelper.CurrentUser.Email)
        {
            using (Html.BeginForm("Reserve", "Post", new { id = Model.Ad.Id }, FormMethod.Post, null))
            {
                Html.AntiForgeryToken();
                <input type="submit" class="btn btn-primary btn-sm" value="Reserve" />
            }
        }

    </div>
    <hr />
    <div>
        @if (Model.Comments?.Length == 0)
        {
            <div class="alert-warning">
                This ad has no comments yet.
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    Comments
                    <button class="btn btn-default btn-sm pull-right"
                            data-toggle="collapse"
                            data-target="#comments_@Model.Ad.Id">
                        Hide
                    </button>
                </div>
                <div class="panel-body collapse in" id="comments_@Model.Ad.Id">
                    @{
                        foreach (var c in Model.Comments)
                        {
                            <h4>@c.Author.Name</h4>
                            <div>
                                On @c.DatePosted.ToShortDateString() at
                                @c.DatePosted.ToShortTimeString()
                            </div>
                            <div>
                                @c.Content
                            </div>
                            <hr />
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>