@using MvcClient.SocialAdService;
@model MvcClient.SocialAdService.User

@{
    ViewBag.Title = Model.Name;
}

<h2>Your profile - @Model.Name</h2>
<hr />
@using (Html.BeginForm("BuyReservations","User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        Available reservations: @Model.Reservations
        <div class="col-md-10">
            <input type="submit" value="Buy Reservations" class="btn btn-default btn-sm"/>
        </div>
    </div>
}
@using (Html.BeginForm("BuyBoosts","User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        Available post boosts: @Model.Boosts
        <div class="col-md-10">
            <input type="submit" value="Buy Boosts" class="btn btn-default btn-sm" />
        </div>
    </div>
}
<br />
<br />
<div>
    @{
        Ad[] list = TempData["reservedAds"] as Ad[];
        if (list?.Count() > 0)
        {
            <h3>Your reserved ads (@list.Count())</h3>
            <hr />
            foreach (var ad in list)
            {
                Html.RenderPartial("AdPartial", ad);
            }
        }
    }
</div>
<br />
<div>
    @{
        list = TempData["postedAds"] as Ad[];
        if (list?.Count() > 0)
        {
            <h3>Your posted ads (@list.Count())</h3>
            <hr />

            foreach (var ad in list)
            {
                Html.RenderPartial("AdPartial", ad);
            }
        }
    }
</div>