@using MvcClient.SocialAdService;
@model MvcClient.SocialAdService.User

@{
    ViewBag.Title = "Profile";
}

<h2>Your profile - @Model.Name</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-10">
        Available reservations: @Model.Reservations
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Buy Reservations" class="btn btn-default"/>
    </div>

    <div class="col-md-10">
        Available post boosts: @Model.Boosts
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Buy Boosts" class="btn btn-default" />
    </div>
}
<br />
<br />
<div>
    @{
        Ad[] list = TempData["reservedAds"] as Ad[];
        if (list?.Count() > 0)
        {
            <h3>Your reserved ads (@list.Count())</h3>
            <hr />
            foreach (var ad in list)
            {
                Html.Partial("Ad", ad);
                <!--
                <div>
                    <h4>
                        "@ad.Title" by @ad.Author.Name in @ad.Location.Name
                    </h4>
                    <br />
                    @ad.Content
                    <hr />
                </div>
                 -->
            }
        }
    }
</div>
<br />
<div>
    @{
        list = TempData["postedAds"] as Ad[];
        if (list?.Count() > 0)
        {
            <h3>Your posted ads (@list.Count())</h3>
            <hr />

            foreach (var ad in list)
            {
                Html.Partial("Ad", ad);
            }
        }
    }
</div>