@using MvcClient.AuthService;
@using MvcClient.Models;
@model ProfileViewModel

@{
    ViewBag.Title = Model.User.Name;
}

<h2>Your profile - @Model.User.Name</h2>
<hr />
<ul class="list-group">
    <li class="list-group-item">Email: @Model.User.Email</li>
    <li class="list-group-item">Joined on @Model.User.DateRegistered.ToShortDateString()</li>
</ul>
@using (Html.BeginForm("BuyReservations","User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        Available reservations: @Model.User.Reservations
        <div class="col-md-10">
            <input type="submit" value="Buy Reservations" class="btn btn-default btn-sm"/>
        </div>
    </div>
}
@using (Html.BeginForm("BuyBoosts","User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        Available post boosts: @Model.User.Boosts
        <div class="col-md-10">
            <input type="submit" value="Buy Boosts" class="btn btn-default btn-sm" />
        </div>
    </div>
}
<br />
<br />
<div>
    @{
        if (Model.ReservedAds?.Count() > 0)
        {
            <h3>
                Your reserved ads (@Model.ReservedAds.Count())
                <button class="btn btn-default btn-sm pull-right"
                        data-toggle="collapse"
                        data-target="#reserved">
                    Hide
                </button>
            </h3>
            <hr />
            <div id="reserved" class="collapse in">
                @foreach (AdWithCommentsViewModel awc in Model.ReservedAds)
                {
                    Html.RenderPartial("AdPartial", awc);
                }
            </div>
        }
        else
        {
            <div class="alert-warning">
                We couldn't find any ads that you reserved.
                <br />
                Want to @Html.ActionLink("find", "Index", "Search") something to buy?
            </div>
        }
    }
</div>
<br />
<div>
    @{
        if (Model.PostedAds?.Count() > 0)
        {
            <h3>
                Your posted ads (@Model.PostedAds.Count())
                <button class="btn btn-default btn-sm pull-right"
                        data-toggle="collapse"
                        data-target="#posted">
                    Hide
                </button>
            </h3>
            <hr />

            <div id="posted" class="collapse in">
                @foreach (AdWithCommentsViewModel awc in Model.PostedAds)
                {
                    Html.RenderPartial("AdPartial", awc);

                }
            </div>
        }
        else
        {
            <div class="alert-warning">
                We couldn't find any ads that you posted.
                <br />
                Want to @Html.ActionLink("get started", "Ad", "Post")?
            </div>
        }
    }
</div>