@using MvcClient.AuthService;
@using MvcClient.Helpers;
@using MvcClient.Models;
@model AdWithCommentsViewModel

@{
    ViewBag.Title = Model.Ad.Title;
}

@Html.Partial("AdPartial", Model)

@if (AuthHelper.IsLoggedIn())
{
    @Html.Partial("PostComment", new PostCommentViewModel { Id = Model.Ad.Id });
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ad.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Ad.Id }) |
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
